<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstaBot.js</title>
    <script src="js/buttons.js"></script>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
        <ul id="nav">
                <li class="active"><a href="/">Config</a></li>
                <li><a href="/hashtags">Hashtags</a></li>
                <li><button id="start" onclick="start()">start</button></li>
                <li><button id="stop" onclick="stop()">stop</button></li>
        </ul>
        <form id="config" action="/" method="post">
            <h1>Config</h1>
            <div id="creator-studio">
                    <h2>Creator Studio</h2>
                    <%Object.keys(config.creator_studio).forEach(key=>{%>
                        <label><%= key%></label>
                        <input name="creator_studio_<%=key%>" value="<%=config.creator_studio[key] %>"/>
                    <% });%>
            </div>
            <div id="instagram">
                <h2>Instagram</h2>
                <%Object.keys(config.instagram).forEach(key=>{%>
                    <label><%= key%></label>
                    <input name="instagram_<%=key%>" value="<%=config.instagram[key] %>"/>
                <% });%>
            </div>
            <div id="puppeteer">
                <h2>Puppeteer</h2>
                <%Object.keys(config.puppeteer).forEach(key=>{%>
                    <label><%= key%></label>
                    <input name="puppeteer_<%=key%>" value="<%=config.puppeteer[key] %>"/>
                <% });%>
            </div>
    
            <button type="submit" id="savebtn">Save</button>
    </form>
    

</body>
</html>